*{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
 }
 
 
 html, body, :root{
     --a: 0;
 height: 100%;
 background-color: #0d1117;
 color: #ffffff;
 /* color-scheme: dark; */
 
 }



